nav.dark-theme, 
footer.dark-theme {
    background: #333333;
    color: whitesmoke;
}

main.dark-theme {
    background: whitesmoke;
    color: #333333;
}

nav.light-theme, 
footer.light-theme {
    background: whitesmoke;
    color: #333333;
}

main.light-theme {
    background: transparent;
    color: inherit;
}


nav {
    display: flex;
}

nav .nav-item {
    flex-basis: 25%;
    text-align: center;
}

nav .nav-item:last-child {
    display: flex;
}

#app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    
}


main {
    flex-grow: 1;
}

footer {
    text-align: center;
}

button#theme-switcher {
    flex: 1;
}