* {
    font-size: 0;
    margin: 0;
    padding: 0;
}

#section.cta-section {
}

nav.global-site-nav {
    padding: 25px;
}

nav div.site-navigation-group {
    display: flex;
    align-items: center;
}

nav.global-site-nav span {
    margin-left: 20px;
}

nav.global-site-nav span:first-child {
    margin-left: auto;
}


nav.global-site-nav div.hamburger {
    min-height: 15px;
    display: flex;
    width: 25px;
    flex-direction: column;
    justify-content: space-between;
}

nav.global-site-nav div.hamburger span {
    background-color: black;
    border-radius: 10px;
    margin-left: 0;
    height: 2px;
    width: 100%;
}
@media only screen and (min-width: 768px) {
    nav.global-site-nav span {
        font-size: 10px;
    }

    
}