
input, 
textarea {
    font-size: 13px;
}

input {
    border: 2px solid black;
    width: 90%;
}

.page-wrapper {
    padding: 20px;
}

form, .output-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.output-grid {
    grid-template-rows: 60px 60px 60px; 
}

form > div {
    display: flex;
    padding: 20px 0;
}

form input {
    height: 20px; 
}

.bio {
    height: 75px;
    grid-column: 1 / 3;
}

textarea {
    width: 100%;
}

textarea.bio, 
textarea.describe-work-and-skills {
    border: 2px solid black;
}

textarea.describe-work-and-skills {
    /* width: 100%; */
    height: 150px;
    flex: 1;
    border: none;
}


.describe-work-and-skills-container {
    padding-bottom: 20px;
    font-size: 20px;
    padding-left: 7px;
    padding-right: 7px;
    display: flex;
}

.output-grid-text-container {
    display: flex;
    font-size: 20px;
    align-items: center;
    padding-left: 10px;
}

textarea {
    font-size: 19px;
}


input:focus {
    outline-width: 0;
    outline: none;
}


.submit-container {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 50px;
}

.submit {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 15px
}

input[name="placeOfBirth"], 
input[name="favoriteFood"], 
input[name="lastName"]
{
    margin-left: auto;
}

.bio {
    margin-bottom: 50px;
}

form {
    padding-bottom: 40px;
}

.bio-container {
    display: flex;
}

.bio {
    flex: 1;
}

.output-grid {
    margin-bottom: 20px;
}

.hello, 
.my-name-is {
    color: white;
    text-align: center;

}

.hello {
    font-size: 40px;
}

.my-name-is {
    font-weight: 600;
}

.bio {
    height: 150px;
}

.hello-wrapper {
    border-radius: 10px 10px 0 0 ;
    background: blue;
}

.hello-wrapper p {
    padding-bottom: 30px;
}

.badge-wrapper {
    border-radius: 10px;
    background: blue;
    max-width: 560px;
    margin: auto;
}

.output-grid-text-container {
    background: white;
}

.output-grid {
    padding: 0 7px;
}

.badge-wrapper {
    padding-top: 3px;
}