body h1 {
    text-align: center;
}

body {
    padding: 30px;
}
h1, p {
    margin: 0;
}

.header-relative {
    position: relative;
}

.my-background-picture {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 100px 100px;
    flex-direction: column;
    background-size: cover;
    margin-left: 50px;
}



.here-why-hire {
   
}

.github-account-link {
    text-decoration: none;
    color: inherit;
}

.linked-in-account-link {
    text-decoration: none;
    color: inherit;
}

.linked-in-and-email {
    width: 50%;
}