body, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
}

section#header-section {
    padding: 100px 0;
    position: relative;
    height: 300px;
}

section#header-section h1 {
    font-size: 8vw;
}

section#header-section h4 {
    display: flex;
    justify-content: center;
}

section#header-section a {
    text-decoration: none;
    color: inherit;
}

section#header-section {
    display: flex;
    justify-content: center;
}

section#portfolio-body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px 200px 200px;
}

section#portfolio-body .portfolio-main {
   grid-row: 1 / 3;
   grid-column: 4 / 13;
}

.portfolio-main {
    display: flex;
}

.portfolio-main .first-column {
    position: relative;
    flex: 1;
    padding: 15px;
}

.portfolio-main .second-column {
    position: relative;
    flex: 2;
    background: url(nuskin_building_netcoo.jpg);
    background-size: cover;
    border: 2px solid black;
}

.first-column .download-nuskin-example {
    position: absolute;
    bottom: 0;
    
}


#portfolio-body .left-hand-column {
    grid-column: 1 / span 3;
    grid-row: 1 / -1;
}

.flex {
    display: flex;
}

.flex.experience-layout {

}


.mdc-button_label {
    color: green;
}


@media only screen and (min-width: 768px) {
    section#header-section h4 {
        display: flex;
        justify-content: flex-start;
    }

    section#header-section {
        display: block;
        padding-left: 100px;
    }

    section#header-section .full-name {
        position: absolute; 
        display: inline;
        transform: translateY(-50%);
        top: 50%;
    }
    
    section#header-section h1, 
    section#header-section h2 {
        font-size: 5.9vw;
    }
}










































/* body h1 {
    text-align: center;
}

body {
    padding: 30px;
}
h1, p {
    margin: 0;
}

.header-relative {
    position: relative;
}

.my-background-picture {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 100px 100px;
    flex-direction: column;
    background-size: cover;
    margin-left: 50px;
}



.here-why-hire {
   
}

.github-account-link {
    text-decoration: none;
    color: inherit;
}

.linked-in-account-link {
    text-decoration: none;
    color: inherit;
}

.linked-in-and-email {
    width: 50%;
} */