body {
    padding: 0;
    margin: 0;
    font-size: 14pt;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
  
p, span {
    line-height: 1.2em;
}

.container {
    padding: 20px;
}


.masthead {
    background: rgba(0, 0, 0, 0.8);
    padding: 0 10pt;
    display: flex;
    justify-content: center;
}

.masthead .home {
    border: 1px solid white;
    margin-left: none;
    border: 1px solid white;
    border-radius: 2px;
  }

.masthead a {
    color: white;
}
  

.full-name {
    margin-top: 20px;
}

.full-name a {
    color: #3d7e9a;
    
}

.project-description {
    font-weight: 600;
  }


.resume-png-container {
    display: flex;
    
}

.resume-png-container img {
    width: 60%;
    margin: auto;
    box-shadow: 0 8px 6px -6px;
}

.resume-link {
   display: none;
   color: #3d7e9a;
}

.personal-highlights {
    padding: 15px;
}

.href-resume-wrapper {
    text-align: center;
}

ul.menu {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    padding: 0;
    list-style-type: none;
    margin: 0 10px;

    & li {
        display: flex;
        align-items: center;
        margin: 4px;
        margin-left: 10px;
    }

    & li a {
        padding-left: 12px;
        color: white;
        text-decoration: none;
    }
    
    & li:first-child {
        padding: 10px;
    }

    & li a:first-child {
        padding-left: unset;
    }
}

.project-grid-item {
    display: flex;
    align-items: center;
}

.project-grid-item div {
    width: 100%;
    flex: 1;
}

.project-info-container  {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}


.project-info-container h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
  }
  
.project-info-container a, 
.project-info-container h3 {
    margin-bottom: 4px;
}
  
.showcase-header {
    font-weight: 800;
}

.showcase-wrapper {
    display: flex;
    justify-content: center;
}

.portfolio-main {
    display: flex;
}

.portfolio-main .first-column {
    position: relative;
    flex: 1;
    padding: 15px;
}

.portfolio-main .second-column {
    position: relative;
    flex: 2;
    background: url(nuskin_building_netcoo.jpg);
    background-size: contain;
    background-repeat: no-repeat
}

.first-column .download-nuskin-example {
    position: absolute;
    bottom: 0;    
}

#portfolio-body .left-hand-column {
    grid-column: 1 / span 3;
    grid-row: 1 / -1;
}

.flex {
    display: flex;
}

.project-image-container {
    display: flex;
    justify-content: center;
}

.project-image-container .project-image {
    max-width: 100%;
    height: auto;
}



section {
    &#header-section {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
    }
    &#header-section h1 {
        text-align: center;
        font-size: 8vw;
    }
    &#header-section h4 {
        display: flex;
        justify-content: center;
    }
    &#header-section a {
        text-decoration: none;
    }
    &#portfolio-body {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 200px 200px 200px;
    }
    &#portfolio-body .portfolio-main {
        grid-row: 1 / 3;
        grid-column: 4 / 13;
    }
    &#portfolio-showcase {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    } 

    &#footer-section {
        background: #000000;
        padding: 0 20px;
    }
}

footer {
    position: fixed;
    bottom: 0;
    padding-top: 45px;
    padding-bottom: 38px;

    display: grid;
    grid-template-columns: 1fr;

    padding: 50px 50px 60px 50px;
    background: #2c292f;

    color: #fff;

    align-items: center;

    text-align: center;
}

footer a {
    color: inherit;
    text-decoration: none;
}


main {
    padding-bottom: 300px;
}

@media only screen and (max-height: 800px) {
    footer {
        position: static;
    }

    main {
        padding-bottom: 0;
    }
}


footer .footer-left, 
footer .footer-center, 
footer .foot-right {

}

@media only screen and (min-width: 768px) {
    .resume-link {
        display: block;
        right: 0;
        top: 0;
        position: absolute;
        width: 300px;
        color: #3d7e9a;

      }
    
      .resume-png-container {
        display: block;
        position: relative;
        margin-left: auto;
        width: 300px;
        overflow: hidden;
        height: 365px;
        box-shadow: 0 8px 6px -6px;
      }
    
      .resume-png-container img {
        box-shadow: unset;
        width: 100%;
      }
    

    ul.menu {
        margin-left: auto;
    }

    .project-grid-item {
        flex-direction: column-reverse;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
        text-align: left;
    }

   

    section {
        &#header-section h4 {
            display: flex;
            justify-content: flex-start;
        }
        &#header-section {
           padding-top: 20px;
           display: block;
        }
        &#header-section .full-name {
            position: absolute; 
            display: inline;
            transform: translateY(-50%);
            top: 50%;
        }
        &#header-section h1, 
        &#header-section h2 {
            font-size: 5.9vw;
        }
        &#portfolio-showcase {
          
            grid-template-columns: repeat(3, 1fr);
            max-width: 900px;
            grid-gap: 40px;
        }
    }
}