
/** {*/
    /*!*box-sizing: border-box;*!*/
/*}*/

/*THIS CSS IS ENCAPSULATED, SO THAT THE STYLES DON'T LEAK OUT*/
#blog {
    max-width: 970px;
    margin: 0 auto;
    box-sizing: border-box;
    /* Add a gray background color with some padding */
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f1f1f1;
    /*display: flex;*/
    /*flex-direction: row;*/
}



/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    /*flex-grow: 1;*/
    /*get rid of this after putting in flex*/
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    /*THIS WAS NOT FLOATED CORRECTLY */
    /*width: 300px;*/
    /*get rid of this after putting in flex*/
    float: right;
    width: 23%;
    padding-left: 10px;
}

/* Fake image */
.fakeimg-height200 {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    height: 200px;
}

.fakeimg-height100 {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    height: 100px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

#blog .blog-paragraph {
    margin-bottom: 20px;
}