* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    color: #325050;
    background: #fff;
    /* font-size: 70%; */
    font-family: 'Libre Baskerville', sans-serif;
}

p {
    line-height: 2;
}

h1 {
    font-weight: 300;
    margin-bottom: .75em;
}


.summary,
.preamble,
.explanation, 
.participation, 
.benefits, 
.requirements {
    padding: 1em 5% 1em 10%;
}

.summary {
    padding-top: 3.25em;
}



.author-designs {
    display: none;
}



.design-archives .viewall a:hover,
.design-archives .viewall a:focus,
.design-archives .viewall a:active,
.design-archives a:hover::before,
.design-archives a:focus::before,
.design-archives a:active::before,
.next:hover,
.next:focus,
.next:active {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
}



.design-archives h3 {
    display: none;
}

.design-archives nav {
    display: block;
}

.design-archives ul {
    padding: 0;
    margin: 0;
    /* height: 70px; */
}

.design-archives ul li {
    position: absolute;
}

.design-archives ul li.next {
    right: 0;
    z-index: 399;
    list-style: none;
}

.design-archives ul li.next a::before {
    font-family: "verdemoderna";
    content: ">";
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0;
    text-align: center;
    text-indent: 0;
    font-size: 44px;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 70px;
    background: rgba(255, 255, 255, 0.1);
}

.design-archives ul li.viewall {
    position: absolute;
    padding: 0 71px;
    width: 100%;
    top: 0;
    left: 0;
    line-height: 50px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
}

.design-archives ul li.viewall a {
    z-index: 2;
    margin-right: 2px;
    line-height: 50px;
    width: 100%;
    padding: 10px 0 0 0;
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
}




.contentinfo {
    padding-top: 2em;
    padding-bottom: 2em;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    display: flex;
}

ul li a {
    color: inherit;
    text-decoration: none;
}

.wrapper ul {
    background: #e5ede8;
}



.design-archives .next a {
    display: block;
    width: 70px;
    height: 70px;
}

header {
    position: relative;
    padding: 20px 0px 60px;
    background: url('assets/images/huntington.jpg') no-repeat;
    background-size: cover;
}

header ul {
    bottom: 0;
    height: 60px;
    position: absolute;
    left: 0;
    right: 0;
    color: white;
    margin: 0;
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: inherit;
}


header h1,
header h2 {
    color: white;
    text-align: center;
}


header h1 {
    margin: 0;
    padding: 0px 61px 5px;
}

header h1::before {
    width: 80px;
    height: 80px;
    display: inline-block;
    content: "";
    position: relative;
    background: url('assets/images/enso.svg');
    background-size: 100%;
    margin: -20px 20px 0 0;
    opacity: 0.6;
    top: 20px;
}

header h2 {
    color: white;
    margin: 0;
    padding: 5px 30px 25px;
}

header h2::before {
    content: " ";
    padding: 50px;
}

/* 
.container {
    give the container display grid
    with six rows, 50px high
    default all cells/children on the left be 2/3 the screen width, and all on the left 1/3
} */

.container>div {
    border: solid black 2px;
}

.authors {
    background-color: lightcoral;
}

.links {
    background-color: lightpink;
}

.footer {
    /* make these span the width of the page */
    background-color: aquamarine;
}




/* THIS BREAKPOINT WILL ONLY WORK IF THE SIZE OF THE SCREEN IS AT 100% */
@media only screen and (min-width: 1132px) {
    .author-designs a.design {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 1.2em;
        font-style: normal;
        text-transform: uppercase;
    }

    header h1::before {
        width: 125px;
        height: 125px;
    }

    .author-designs li {
        display: block;
        padding: 1.5em 10%;
        border-bottom: solid 1px #a0b9ad;;
    }

    .author-designs {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .page-resources li {
        padding: 1.5em 0%;
    }

    .participation-section {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .participation-paragraphs {
        grid-column: 1/9;
    }

    .page-resources {
        grid-column: 9/13;
    }

    .page-resources  {
        height: 100%;
        display: flex;
        background: #e5ede8;
        flex-direction: column;
    }

    .page-resources ul li {
        border-top: solid 1px #a0b9ad;
    }

    .page-resources ul li:last-child {
        border-bottom: solid 1px #a0b9ad;
    }

    ul.author-designs-mobile {
        display: none;
    }

    .author-designs {
        background: lightgrey;
    }

    .author-designs {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        background: #e5ede8;
    }

    .author-designs li {
        margin: 0 29.4% 0 14.7%;
    }

    .grid-body {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .body-left-hand {
        grid-column: 1/9;
    }

    .intro-paragraphs {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .intro-paragraphs div:nth-child(1) {
        grid-column: 1/9;
    }

    .intro-paragraphs div:nth-child(2) {
        grid-column: 9/13;
    }



    .grid-desktop {
        display: grid;
    }

    .design-archives ul li.viewall {
        position: static;
        padding: unset;
        width: unset;
        text-align: center;
        background: unset;
    }

    header#zen-header ul {
        position: relative;
        top: 50px;
        width: unset;
        display: flex;
    }

    header#zen-header ul li.viewall {
        flex: 1;
        padding-right: 70px;
    }

    header#zen-header ul li.viewall a {
        flex: 1;
        padding: 0;
        line-height: 4.5;
        /* padding-right: 70px; */
        height: 70px;
        margin-bottom: 0;
        background: rgba(255, 255, 255, 0.1);
    }

    header#zen-header {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    header#zen-header div:first-child {
        grid-column: 1/9;
    }

    header#zen-header div:last-child {
        grid-column: 10/13;
    }


}