* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    color: #325050;
    background: #fff;
    font-family: 'Libre Baskerville', sans-serif;
}

.page-wrapper {
    position: relative;
}



@media only screen and (min-width: 1132px) {
    header {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    header .page-title {
        grid-column: 1/9;
    }
    
    
}