* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
}

section>div {
    height: calc(100vh / 9);
}

section#pink-section>div {
    background-color: #F5C6D6;
}

section#dark-pink>div {
    border-top: 2px solid white;
    background-color: #EE2E84;
}

section#light-blue>div {
    border-top: 2px solid white;
    background-color: #85CFD8;
}

section#mixed>div.light-blue {
    border-top: 2px solid white;
    background-color: #8DC63F;
}

section#mixed>div.orange {
    border-top: 2px solid white;
    background-color: #E76E34;
}

@media only screen and (min-width: 768px) {

    section#pink-section,
    section#dark-pink,
    section#light-blue,
    section#mixed {
        height: 25vh;
    }

    section#pink-section>div {
        height: 100%;
    }

    section#pink-section>div {
        border-bottom: 5px solid white;
    }

    section#dark-pink>div {
        display: inline-block;
        height: 100%;
        width: 25%;
        border: 5px solid white;
    }

    section#dark-pink>div:first-child {
        border-left: none;
    }

    section#dark-pink>div:last-child {
        border-right: none;
    }

    section#light-blue>div {
        display: inline-block;
        height: 100%;
        width: 50%;
        border: 5px solid white;
    }

    section#light-blue>div:first-child {
        border-left: none;
    }

    section#light-blue>div:last-child {
        border-right: none;
    }

    section#mixed>div {
        display: inline-block;
        border: 5px solid white;
        border-bottom: none;
    }

    section#mixed>div:first-child,
    section#mixed>div:last-child {
        border-bottom: none;
    }

    section#mixed>div:first-child {
        height: 100%;
        width: 75%;
        border-left: none;
    }

    section#mixed>div:last-child {
        height: 100%;
        width: 25%;
        border-right: none;
    }


    section#mixed>div.light-blue {
        border-top: 5px solid white;
        background-color: #8DC63F;
    }

    section#mixed>div.orange {
        border-top: 5px solid white;
        background-color: #E76E34;
    }
}