@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
    src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.sidebar {
    float: left;
    height: 700px;
    width: 300px;
    margin-left: 25px;
}

.sidebar p {
    margin-left: 20px;
    margin-top: 40px;
}

.sidebar h3 {
    color: black;
}

.sidebar h3 {
    padding-left: 30px;
    position: relative;
}

.sidebar h3:before {
    font-family: "FontAwesome";
    content: "\f105";
    top: -2px;
    position: absolute;
    left: 10px;
    font-size: 27px;
    line-height: 27px;
    color: silver;
}

.font-size36 > i {
    font-size: 50px;
}

.font-size36 {
    font-size: 36px;
}

.banner {
    background-color: orange;
    width: 100%;
    height: 90px;
}

.data-boundary {
    background-color: #D3D3D3;
    width: 80%;
    margin: auto;
    border: 1px solid slategrey;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 50px;
}

#company {
    position: inherit;
    font-size: 50px;
    line-height: 10px;
    color: white;
}

header.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

header.banner #company {
    line-height: 50px;
    margin-bottom: 0;
}

#banner-navigation a {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

#banner-navigation, #banner-navigation a {
    height: inherit;
}

#banner-navigation {
    position: relative;
    display: flex;
    justify-content: space-around;
}

#banner-navigation a {
    font-size: 16px;
    line-height: 16px;
}

#banner-navigation a, #banner-navigation a:visited {
    color: white;
}

#banner-navigation a:hover:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: red;
}

#banner-navigation a, #banner-navigation a:after {
    transition: all .15s ease-in-out;
}

#banner-navigation {
    margin: 0 -10px;
}

#banner-navigation a {
    padding: 0 10px;
}


.customer-search-bar__view-customers-page {
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
}

.center-align {
    text-align: center;
}


.payment-card-icon {
    /*height: 25px;*/
    padding-bottom: 15px;
    padding-left: 5px;
    cursor: pointer;
}



.inline-element {
    float: right;
    margin-right: 2px;
    margin-top: 9px;

}

.main {
    text-align: center;
    height: 100vh;
    width: 100vh;
}
.companyLogo {
    align-content: center;;
    background-color: #90532b;
    height: 20%;
}

.viewport {
    width: 100vw;
    height: 100vh;
    display: inline-block;
}

#vivintorange {
    color: orange;
    text-align: center;
    font-size: 40px;
    height:10%;
}

.orangecommunicationbox {
    height: 15%;
    background-color: orange;
    color: white;
    font-size: 19px;

    display: flex;
    flex-flow: column;
    justify-content: center;
}

#payment {
    color: orange;
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;

}

.center-align p {
    font-size: 21px;
    margin: 0 auto;
}

.font-size28 {
    font-size: 28px;
    padding: 20px;
    font-weight: 100;
}

.font-size20 {
    font-size: 20px;
    padding: 20px;
    font-weight: 800;
}

.font-size18 {
    font-size: 18px;
}

input[type=checkbox] {
    transform: scale(2);
    padding: 30px;
}

input[type=radio] {
    transform: scale(2);
}

.solid-silver-border {
    border: 1px solid silver;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
}

.block {
    display: block;
}

.lastfour{
    padding-left: 10px;
    border-radius: 2px;
    display: inline-block;
    padding: 2px;
    color: silver;
}

.Authentication .table {
    display: flex;
    background-color: gray;
    border: red 10px;
}

.pinInput{
    display: inline-block;
    background: whitesmoke;
    margin:10px;
    padding:10px;
    width:300px;
}

.margin10 {
    margin:10px
}


.communication {
    font-size: 20px;
    cursor: pointer;
}

.invoices {
    font-size: 20px;
    cursor: pointer;
}


.calendar-icon {
    padding-bottom: 15px;
    padding-left: 5px;
    cursor: pointer;
}

.new-customer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s-button {
    display: flex;
    align-items: center;
}


.grey-box{
    display: flex;
    background: whitesmoke;
    flex-flow: column;
    height:49.9%;
}

.bold{
    font-weight: bold;
}


.payment-amount{
    height: 20%;
    text-align: center;
    margin:10px;
}

.center-content {
    display: flex;
    width: 300px;
}


.display-buttons-container {
    float: right;
}



.customer-search-bar__view-invoices-page {
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
}

.add-customer-button_search-bar-container {
    display: flex;
    max-width: 90%;
    min-width: 20%;
    margin-right: 40px;
    margin-top: 50px;
}

.pagenameurlschedulesaction {
    margin: 10px;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
}


.nameemailphonegroupsaction_name {
    margin: 10px;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
}
.nameemailphonegroupsaction_email {
    margin: 10px;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
}
.nameemailphonegroupsaction_phone {
    margin: 10px;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
}
.nameemailphonegroupsaction_groups {
    margin: 10px;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
}
.nameemailphonegroupsaction_actions {
    margin: 10px;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
}

.numberamountstatusdatesentdatepaidaction_number {
    width: 25%;
    margin: 10px;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
}
.numberamountstatusdatesentdatepaidaction_amount {
    width: 25%;
    margin: 10px;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
}
.numberamountstatusdatesentdatepaidaction_status {
    width: 25%;
    margin: 10px;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
}
.numberamountstatusdatesentdatepaidaction_datesent {
    width: 8%;
    margin: 10px;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
}
.numberamountstatusdatesentdatepaidaction_datepaid {
    width: 8%;
    margin: 10px;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
}
.numberamountstatusdatesentdatepaidaction_action {
    width: 3%;
    margin: 10px;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
}
.numberamountstatusdatesentdatepaidaction_delete {
    width: 5%;
    margin: 10px;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
}

.typetocontentdateaction_type {
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
    width: 15%;
}


.typetocontentdateaction_to {
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
    width: 15%;
}

.typetocontentdateaction_content {
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
    width: 45%;
}

.typetocontentdateaction_date {
    margin: 10px;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
    width: 9%;
}

.typetocontentdateaction_action {
    margin: 10px;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
    width: 4%;
}

.typetocontentdateaction_delete {
    margin: 10px;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
    width: 6%;
}


.pagenameurlschedulesaction_pagename {
    margin: 10px;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
}
.pagenameurlschedulesaction_url {
    margin: 10px;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
}
.pagenameurlschedulesaction_schedules {
    margin: 10px;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
}
.pagenameurlschedulesaction_actions {
    margin: 10px;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
}


.view-all-customers__parent {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    min-width: 20%;
}

.view-all-customers__child {
    width: 98%;
    background-color: whitesmoke;
    border: 3px solid lightgrey;
}


.customerinfo__parent {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 100%;
    min-width: 20%;
    height: 400px;
    margin-top: 70px;
}

.customer-info-view-width {
    width: 98%;
    display: flex;
    justify-content: space-between;

}


.customerinfo__child {
    width: 30%;
    background-color: whitesmoke;
    border: 3px solid lightgrey;

}


.customeradditionalinfo__child {
    /*width: 350px;*/
    width: 30%;
    height: 100%;
    background-color: whitesmoke;
    border: 3px solid lightgrey;
}

.customerotherinfo__child {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.customerpaymentmethods__child {
    height: 45%;
    background-color: whitesmoke;
    border: 3px solid lightgrey;

}


.customerschedules__child {
    height: 45%;
    background-color: whitesmoke;
    border: 3px solid lightgrey;
}


.actions-view__parent {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    min-width: 20%;
    margin-top: 50px;
}

.actions-view__child {
    width: 98%;
    background-color: whitesmoke;
    border: 3px solid lightgrey;
}


.contentdateaction_content {
    margin: 10px;
    width: 80%;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
}

.contentdateaction_date {
    margin: 10px;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
}

.contentdateaction_action {
    width: 4%;
    margin: 10px;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
}
.contentdateaction_delete {
    width: 6%;
    margin: 10px;
    font-weight: 575;
    font-size: 16px;
    padding-top: 5px;
}

.view-all-invoices-parent {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    min-width: 20%;
}

.view-all-invoices-child {
    width: 98%;
    background-color: whitesmoke;
    border: 3px solid lightgrey;
}



.customer-search-bar__customer-full-profile-page {
    padding-top: 20px;
    padding-bottom: 20px;
    float: right;
    margin-right: 2%;
}


.cursor-pointer {
    cursor: pointer;
}

.payment-methods-write-icon {
    float: right;
}

.makenoteoncustomersubmitbutton {
    margin: 20px;
    float: right;
}

.sendcustomermessagesubmitbutton {
    margin: 20px;
    float: right;
}

.sendcustomerinvoicesubmitbutton {
    margin: 20px;
    float: right;
}
.login-input {
    display: flex;
    background: whitesmoke;
    margin:10px;
    padding:10px;
    width:300px;
    flex-flow: column;
    justify-content: space-around;
}
.login-button {
    display: flex;
    background: whitesmoke;
    margin:10px;
    padding:10px;

    flex-flow: column;
    justify-content: space-around;
}
.body {
    display: flex;
    background-color: orange;
    bottom: 0;
    height: 100%;
    width: 100%;
    position: fixed;
}
.login-field {
    float: right;
    padding-left: 65%;
    position: inherit;
    padding-top: 20%;

}
.login-logo {
    display: flex;
    justify-content: center;
}
.search-box {
    float: left;
    margin-top: 20px;
    margin-left: 70px;
}

.main-green-button {
    float: right;
    margin-top: 20px;
    /*margin-right: 70px;*/
}

.margin-left-20px {
    margin-left: 20px;
}

.margin-bottom-5px {
    margin-bottom: 5px;
}

.margin-bottom-10px {
    margin-bottom: 10px;
}
.margin-bottom-20px {
    margin-bottom: 20px;
}

.padding-left {
    padding-left: 20px;
}

.padding10{
    padding:10px;
}

.float-right {
    float: right;
}

.customer-main-profile {
    position: relative;
    top: 40%;
}


.three-button-spacing {
    float: right;
    margin-top: 20px;
    margin-right: 70px;
}

.first-row-all-page-parent {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    min-width: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.first-row-all-page-child {
    width: 98%;
}

.view-button-padding {
    padding: 5px;
}

.customer-email {
    font-size: 18px;
    margin-bottom: 5px;
}

.customer-name {
    text-align: center;
    font-family: arial;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 20px;
}

.customer-phonenumber {
    margin-bottom: 15px;
}


.info {
    font-weight: 900;
    font-size: 16px;
    padding: 10px;
    padding-left: 15px;
}

.additional-info {
    font-weight: 900;
    font-size: 16px;
    padding: 10px;
    padding-left: 15px;
    padding-bottom: 5px;
}

.schedules {
    padding: 10px;
    padding-left: 15px;
    padding-bottom: 18px;
    font-weight: 900;
    font-size: 16px;
}

.payment-methods {
    padding: 10px;
    padding-left: 15px;
    font-weight: 900;
    font-size: 16px;
    padding-bottom: 18px;
}

.edit-customer-main-profile {
    position: relative;
    top: 10%;
}

.display-inline {
    display: inline-block;
}

.tags-and-label-spacing {
    margin: 10px;
}

.top-90 {
    top: 90%;
    position: inherit;
}

.padding-on-database-icon {
    padding: 0 10px;
}



/*.customer-profile-background-image {*/
    /*width: 80%;*/
    /*height: 50%;*/
    /*text-align: center;*/
    /*background-color: black;*/
/*}*/


/*background-image: url('./public/CustomerFullProfileAssets/ProfilePic.png');*/