input[name="pest"] {
    outline: none;
    font-size: 20px;
    border: none;
    width: 100%;
    text-align: center;
    position: absolute;
    justify-content: center;
    align-self: center;
}

input[name="pest"]:focus {
    outline: none;
    color: transparent;
    text-shadow: 0 0 0 black;
}

.pest-wrapper {
    overflow: hidden;
    padding: 20px;
    position: relative;
}

.pest-wrapper p {
    width: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
    transform: rotate(-90deg);
    transform-origin: top left;
    top: 140px;
    left: 0;
}

h3.title {
    width: 100%;
    text-align: center;
    top: 0;
    margin: 0;
    padding: 0;
    position: absolute;
}

.pest-input {
    display: flex;
}

.pest-counter {
    padding: 1px solid black;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 120px;
    width: 120px;
    border: 1px solid black;
}

.pest-counter i {
    right: 0px;
    bottom: 32px;
    position: absolute;
    height: 27px;
}

.pest-container {
    border: 1px solid black;
    padding-top: 50px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    transition: .3s ease-in-out;
}

#goomba:hover, 
#bob-ombs:hover, 
#cheep-cheeps:hover {
    transform: scale(1.1);
}


#goomba {
    position: absolute;
    right: -5px;
    top: 38px;
    height: 25px;
    z-index: 1;
}

#bob-ombs {
    position: absolute;
    right: 0;
    top: 41px;
    height: 20px;
    z-index: 1;
    transition: all .1s ease-in-out;

}

#cheep-cheeps {
    position: absolute;
    right: -2px;
    top: 41px;
    height: 20px;
    z-index: 1;
    transition: all .1s ease-in-out;

}

#goomba-input, 
#bob-ombs-input, 
#cheep-cheeps-input {
    width: calc(100% + 16px);
}


