body {
    margin: 0;
}

* { 
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.flex {
    display: flex;
}

.container {
    /* width: 500pt; */
    margin: auto;
}

::selection {
    background: #0085a1;
    color: #fff;
}

a:hover {
    color: #0085a1;
    cursor: pointer;
}

.intro-titles h1 {
    margin: 0;
    font-size: 80pt;
}

h2 { 
    margin: 0;
}


.intro-titles {
    color: white;
    padding: 180pt 0;
}



button.older-posts {
    color: white;
    background: #0085a1;
    font-weight: 800;
    padding: 15pt 25pt;
    margin-left: auto;
}

.menu-hamburger {
    display: flex;
    flex-direction: column;
    width: 14pt;
    height: 9pt;
}

.menu-hamburger span {
    content: "";
    width: 75%;
    margin: auto;
    background: black;
    height: 2pt;
}

.start-bootstrap {
    display: flex;
    align-items: center;
}

button .menu {
    font-weight: 900;
}



.social-link {
    height: 50pt;
    width: 50pt;
    background: black;

}

.social-link::before {
    font-family: "FontAwesome";
    font-weight: 900;
    color: white;
    content: "\f002";
    z-index: 500;
    position: relative;
    height: 50px;
    width: 50px;
}

@media only screen and (min-width: 576pt) {
    /* .container {
        max-width: 520pt;
    } */
}

@media only screen and (min-width: 768pt) {
    .container {
        max-width: 960px;
    }
}