* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

section#navigation-header {
    padding: 7px;
}

nav.navigation-bar {
    display: flex;
    align-items: center;
    padding: 5px;
}

nav.navigation-bar ul {
    display: flex;
    flex: 1;
    padding: 5px;
}

nav.navigation-bar li {
    list-style-type: none;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav.navigation-bar a {
    font-size: 14px;
}

nav.navigation-bar .hamburger-icon {
    width: 15px;
    height: 10px;
}


nav.navigation-bar ul li:first-child {
    margin-left: auto;
}

nav li span {
    border-radius: 15px;
    height: 2px;
    background: black;

}

section#quicksearch-section {
    height: 720px;
    padding-top: 95px;
    padding-bottom: 40px;
    background: url('https://t3.realgeeks.media/thumbnail/VPIUDBbK62w8m3t-udqA66m3feQ=/fit-in/0x720/https://u.realgeeks.media/greenvillescrealestate/_rgg/landscape_images/BeautifulHomeExterior.jpg') no-repeat 50% 50%;
    background-size: cover;
}


aside.hamburger-popout {
    position: absolute;
    right: -100%;
    transition: all .3s ease-in-out;
}

body.nav-open aside.hamburger-popout {
    right: 0;
    top: 0;
    width: calc(100vw - 80px);
    transition: all .3s ease-in-out;
    background: white;
}

.x-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 4px;
    margin: auto;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
}


.x-icon span {
    position: absolute;
    background: black;
    height: 2px;
    left: 0;
    right: 0;
}


.x-icon span:first-child {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.x-icon span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: black;
    height: 2px;
    transform: rotate(90deg);
    margin: auto;
}

.site-navigation-mobile {
    position: relative;
}

.site-navigation-mobile .home {
    position: relative;
}

.hamburger-popout div:not(.x-icon) {
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}









/* 

nav.navigation-bar li:last-child {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
nav.navigation-bar .hamburger-icon {
    display: flex;
    justify-content: space-between;
}
nav.navigation-bar .hamburger-icon span {
    height: 2px;
    border-radius: 20px;
    background-color: black;    
}

nav.navigation-bar {
    display: flex;
    align-items: center;
}

nav.navigation-bar li {
   margin-left: 20px;
}
nav.navigation-bar .hamburger-icon li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
}

nav.navigation-bar .hamburger-icon li span {
   width: 100%;
   height: 2px;
   background: black;
}

nav.navigation-bar ul {
    display: flex;
    align-items: center;
}

nav.navigation-bar ul {
    display: flex;
}

nav.navigation-bar ul li:first-of-type {
    margin-left: auto;
}


nav.navigation-bar div {
    display: flex;
    padding: 5px;
}

nav.navigation-bar span {
    margin-left: 20px;
}

nav.navigation-bar div a:first-child {
    margin-left: auto;
}

nav.navigation-bar a {
    margin-left: 20px;
} 

section#quicksearch-section {
    height: 720px;
    padding-top: 95px;
    padding-bottom: 40px;
    background: url('https://t3.realgeeks.media/thumbnail/VPIUDBbK62w8m3t-udqA66m3feQ=/fit-in/0x720/https://u.realgeeks.media/greenvillescrealestate/_rgg/landscape_images/BeautifulHomeExterior.jpg') no-repeat 50% 50%;
    background-size: cover;
}

h1.intro-heading {
    text-align: center;
}

h3.intro-subheading {
    text-align: center;
}

.links-to-about-pages {
    display: flex;
    justify-content: center;
}

.links-to-about-pages>button {
    margin-left: 30px;
}

.links-to-about-pages button:first-of-type {
    margin-left: 0;
}

aside nav.site-navigation-secondary {
    position: absolute;
    right: -100%;
    transition: all .3s ease-in-out;
}

@media only screen and (min-width: 768px) {
    nav div.site-navigation-group span {
        font-size: 10px;
    }
}

body.nav-open .site-navigation-mobile {
    right: 0;
    top: 0;
    background-color: white;
    width: calc(100vw - 40px);
    transition: all .3s ease-in-out;
} */