* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 24px;
}

#section1 {
    background-color: #3337;
    padding: 16px;
}

#section1 > p {
    margin: 16px auto;
    width: 100%;
    max-width: 600px;
}

#links-container {
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#links-container > div {
    border: 1px solid black;
    padding: 16px;
    transition: background-color .5s linear;
}

#links-container > div:hover {
    background-color: firebrick;
}

#links-container > div > p {
    margin: 0;
}



@media only screen and (min-width: 1130px){
    #page-container {
        grid-template-columns: 2fr 1fr;
    }

    #section1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding: 56px;
    }

    #links-container {
        grid-column: 2 / 3;
        grid-row: 1/ 2;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #links-container > div {
        width: 100%;
    }
}