div.container {
}

#header-banner {
    height: 400px;
    width: 100vw;
    background-color: lightblue;
}

.container.grid-container {
    display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.employee-profile {
	grid-column: 1 / 4;
	background-color: lightcyan;
}

.recommendations {
    background-color: lightgoldenrodyellow;
   grid-column: 4 / 10;
}

.partner-network {
    background-color: lightsalmon;
    grid-column: 10 / 13;
}
